{{ define "main" -}}
{{- partial "components/popularCategories.html" . -}}
<section class="post-list post-container pl-0 pr-0 pb-5 bg-gray-1 row">
    {{/* <div class="row">
        <div class="carousel-container">
            {{ range first 3 (where .Pages "Params.highlight" true) }}
                {{- partial "home/highlight.html" . -}}
            {{ end }} 
        </div>
    </div>*/}}
    <div class="row pl-2 pr-2 m-0">
        <div class="row default-row pt-5 pl-2 pr-2 pr-lg-5">
            <div class="col-md-8 p-0 pr-lg-4">
                <div class="row pl-5 pr-5 pr-lg-0">
                    {{ range (where (where (where .Pages "Params.reader" "!=" true) "Params.highlight" "!=" true ) "Section" "post")}}
                        {{- partial "home/postDefaultMD.html" . -}}
                    {{ end }}  
                </div>
            </div>  
            <div class="col-md-4">
                <div class="row pt-4 pl-3 pr-3">
                    {{- partial "components/fromReaders.html" . -}}
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="container-fluid">
    
</aside>

{{ end }}