<li class="mb-3 mt-3">
    <article class="row pl-3 pr-4">
            <figure class="fit-width m-0">
                {{ if ne .Params.images nil }}
                    <img src="{{ .Site.BaseURL }}{{index .Params.images 0}}" alt="" srcset="" class="fit-width">
                {{ end }}
            </figure>
            <h2 class="f-2 mt-2 mb-2"><a class="anchor c-primary" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class="col-12 post-line pl-0" style="opacity:0.5"></div>
            <div class="row justify-content-around fit-width">
                <div class="col-9 mt-1 row fit-width">
                    <div class="col-2">
                        <i class="icofont-tags c-secondary"></i>
                    </div>
                    <div class="col-10 pr-0">
                        <span class="c-primary post-categories f-08">
                            {{ range $index, $element := .Params.categories }}                                     
                                {{ $element }}{{ if eq $index 0 }}, {{ end }}
                            {{ end }}
                        </span>
                    </div>
                </div>
                <div class="comments-button f-2 col-3 pr-0 p-2 ml-auto text-center row justify-content-center align-items-center">
                    <i class="icofont-speech-comments c-secondary col-5 p-0"></i>            
                    <span class="c-primary text-center col-6 pl-2 pr-0">0</span>
                </div>
            </div>
    </article> 
</li>