<section class="newsletter container-fluid bg-primary newsletter-block mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="single">
                    <h2 class="display-5 c-white mb-5">Inscreva-se na nossa Newsletter</h2>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Escreva seu melhor e-mail">
                        <span class="input-group-btn">
                        <button class="btn btn-theme bg-secondary" type="submit">Enviar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>