<header class="header container-fluid bg-primary">
    {{/* top */}}
    <div id="topHeader" class="row justify-content-between fit-height of-hidden top-header">
        <a href="" class="logo col-4 m-0 pl-3 pt-1 c-secondary"></a>
        <div class="col-2 pt-2 pr-2 fit-height fit-content z-index-4">
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label id="menuBtn" class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
            </ul>
        </div>
    </div>
    {{/* bottom */}}
    <div 
    class="row justify-content-center fit-height of-hidden background-header text-center"
    style="background-image:url({{ .Site.BaseURL }}img/bg-secondary.png);line-height:0.6em;">
    <h1 class="c-primary">pais por acaso</h1>
    </div>
</header>
<nav id="menu" class="nav menu-nav container-fluid p-5 bg-secondary hidden">       
    <ul class="list-unstyled container">
        {{ range .Site.Menus.main }}
            <li class="mt-3 mb-3 fit-content c-primary"><a class="anchor c-primary" href="{{ .URL }}">{{ .Identifier }}</a></li>    
        {{ end }}
    </ul>
</nav>