<header class="header container-fluid bg-primary">
    {{/* top */}}
    <div class="row justify-content-between fit-height of-hidden top-header">
        <a href="" class="logo col-4 m-0 pl-3 pt-1 c-secondary"></a>
        <div class="col-2 pt-2 pr-2 fit-height fit-content">
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
            </ul>
        </div>
    </div>
    {{/* bottom */}}
    <div 
    class="row justify-content-center fit-height of-hidden background-header text-center"
    style="background-image:url({{ .Site.BaseURL }}img/bg-secondary.png);line-height:0.6em;">
    <h1 class="c-primary">pais por acaso</h1>
    </div>
</header>