.header{
    background-color: black;
    height:13em;
}

.background-header{
    position: absolute;
    width: 100%;
    top:0;
    background-repeat: repeat;
    background-size: auto;    
}

.top-header{
    position: relative;
    z-index: 2;
}