<div class="col-md-6">
    <article class="main-article row mt-4 ml-auto mr-auto bg-white c-gray-3">
        <figure class="fit-width m-0">
            {{ if isset .Params "images" }}
                <img src="{{ .Site.BaseURL }}{{index .Params.Images 0}}" alt="" srcset="" class="fit-width">
            {{ end }}
        </figure>
        <div class="pl-4 pr-4 bg-white fit-width">
            {{ if ne .Params.Date nil }}
                {{ $creationDate := .Params.Date }}
                <p class="mt-4">
                    {{ if ne .Params.Author nil }}
                        by {{ .Params.Author }} 
                    {{ end }}
                    {{ dateFormat "2" $creationDate }} {{ index $.Site.Data.meses (printf "%s" (dateFormat "1" $creationDate))}} {{ dateFormat "2006" $creationDate }}
                </p>
            {{ end }}
            <a class="anchor" href="{{ .Permalink }}">
                <h2>{{ .Title }}</h2>
            </a>
            <div class="post-text">
                <p>{{ .Content }}</p>
            </div>
        </div> 
        <div class="fit-width row justify-content-around">
            <div class="col-8 mt-4 post-line"></div>
            <div class="comments-button f-2 col-2 pr-0 p-2 ml-auto mr-auto mt-2 text-center row justify-content-center align-items-center">
                <i class="icofont-speech-comments c-secondary col-6 p-0"></i>            
                <span class="c-primary text-center col-6 p-0">11</span>
            </div>
        </div>
        <div class="post-footer p-4 bg-white fit-width c-secondary post-categories f-08">      
            {{ $categoriesLen := len .Params.Categories }}
            {{ range $index, $element := .Params.Categories }}                    
                {{ $element }}{{ if (ne $index (sub $categoriesLen 1)) }}, {{ end }}
            {{ end }}
        </div>
    </article>
</div>